<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Facebook">
<listeners>
<listener class-name="MVNSample.MVNFacebook.Listeners"/></listeners>
  <test thread-count="5" name="Login">
    <classes>
 <class name="MVNSample.MVNFacebook.Facebooklogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


